@{
    ViewData["Title"] = "Product details Page";
}
@section head{
    <script src="https://cdn.jsdelivr.net/npm/scandit-sdk@5.x"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />

    <style>
        body {
            background-color: white;
            color: black;
            text-align: center;
            font: 400 2.5vh "Open Sans", sans-serif;
        }
    </style>
}


<div class="text-center">
    <h1 class="display-4">Bar Code scanner</h1>

</div>

